/*selected tag{
  property: value;
}*/

body{
  background-color: gray;
  background-repeat: no-repeat; 
}

div{
  background-color: red;
  border-color: orange;
  border-width: 10px;
  border-style: double;
}

p{
  color: yellow;
}

span{
  background: green;
  color: black;
}
